Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/.idea.MythsAndLegends/.idea/workspace.xml
.idea/.idea.MythsAndLegends/.idea/contentModel.xml
.idea/.idea.MythsAndLegends/.idea/workspace.xml
Source/MythsAndLegends/.VSCodeCounter/2020-11-14_12-16-31/details.md
Source/MythsAndLegends/.VSCodeCounter/2020-11-14_12-16-31/results.csv
Source/MythsAndLegends/.VSCodeCounter/2020-11-14_12-16-31/results.md
Source/MythsAndLegends/.VSCodeCounter/2020-11-14_12-16-31/results.txt
